@model User
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<div class="login-box">
    <h2>Зміна паролю</h2>
    <form asp-action="Login">
        <div class="user-box">
            <input type="password" name="password" id="password" required="">
            <label>Введіть новий пароль</label>
        </div>
        <div class="user-box">
            <input asp-for="Password" type="password" name="password" id="password" required="">
            <label asp-for="Password">Підтвердіть пароль</label>
        </div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert">@ViewBag.ErrorMessage</div>
        }
        <div>
            <button type="submit" value="Login">Змінити</button>
        </div>
    </form>
</div>
