@model IEnumerable<Review>
<link rel="stylesheet" href="~/css/Reviews.css" asp-append-version="true" />
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        padding: 10px;
        text-align: center;
    }
</style>
<body class="body">
    <nav>
        <h1><a asp-controller="Value" asp-action="Index" id="atext">EcoComfort</a></h1>
        <ul>
            <li><a asp-controller="BasePage" asp-action="Index">На головну</a></li>
        </ul>
    </nav>
    <div class="container">
        @foreach (var review in Model)
        {
            <main>
                <p>@review.User.Name</p>
                <p>@review.Grade</p>
                <p>@review.Desc</p>
            </main>
        }   
    </div>
    <footer class="footer">
        <p>&copy; 2023 Управління мікрокліматом</p>
        <p>
            У випадку несправності сайту або виникнення пропозицій щодо покращення роботи сайту - використовуйте ці посилання:
            <a href="https://t.me/maks23438">
                <img id="Telegram" src="~/css/Telegram_X_2019_Logo.svg.png">
            </a>
            <a href="https://instagram.com/maks_milik?igshid=NTc4MTIwNjQ2YQ==">
                <img id="Instagram" src="~/css/1200px-Instagram.svg.png">
            </a>
        </p>
    </footer>
</body>