@model Value
<link rel="stylesheet" href="~/css/ClimatStyle.css" asp-append-version="true" />
<body class="body">
    <nav>
        <h1><a asp-controller="Value" asp-action="Index" id="atext">Управління мікрокліматом</a></h1>
        <ul>
            <li><a asp-controller="Temp" asp-action="Temp">Темпепатура</a></li>
            <li><a asp-controller="Humidity" asp-action="Humidity">Вологість</a></li>
            <li><a asp-controller="Light" asp-action="Light">Світло</a></li>
        </ul>
    </nav>
    <div class="container">
        <main>
            <section>
                <h2>Температура</h2>
                <p>Змініть рівень температури в приміщенні:</p>
                <form id="temperature-form" asp-action="Index">
                    <label asp-for="Temperature">Температура:</label>
                    <input asp-for="Temperature" type="number" id="temperature" name="temperature">
                    <button type="submit" value="Index">Зберегти</button>
                </form>
            </section>
            <section>
                <h2>Вологість</h2>
                <p>Змініть рівень вологості в приміщенні:</p>
                <form id="humidity-form" asp-action="Index2">
                    <label asp-for="Humidity">Вологість:</label>
                    <input asp-for="Humidity" type="number" id="humidity" name="humidity">
                    <button type="submit" value="Index">Зберегти</button>
                </form>
            </section>
            <section>
                <h2>Освітлення</h2>
                <p>Змініть рівень освітлення в приміщенні:</p>
                <form id="light-form" asp-action="Index3">
                    <label asp-for="Light">Освітлення:</label>
                    <input asp-for="Light" type="number" id="light" name="light">
                    <button type="submit" value="Index">Зберегти</button>
                </form>
            </section>
        </main>
        <div class="ftext">
            <p class="p">
                Це загальна сторінка для зміни температури , освітлення та вологості.
                Щоб встановити відповідне значення , наприклад , температуру на певну кількість градусів ,
                введіть значення , яке хочете встановити.
                Для більших можливостей у зміні цих характеристик перейдіть на відповідні вкладки "Температура" , "Вологість" та "Освітлення"
            </p>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2023 Управління мікрокліматом</p>
        <p>
            У випадку несправності сайту або виникнення пропозицій щодо покращення роботи сайту - використовуйте ці посилання:
            <a href="https://t.me/maks23438">
                <img id="Telegram" src="~/css/Telegram_X_2019_Logo.svg.png">
            </a>
            <a href="https://instagram.com/maks_milik?igshid=NTc4MTIwNjQ2YQ==">
                <img id="Instagram" src="~/css/1200px-Instagram.svg.png">
            </a>
        </p>
    </footer>
    <script src="Climat.js"></script>
</body>


