<link rel="stylesheet" href="~/css/BasePage.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/BasePage.css" asp-append-version="true" />
<body class="body">
    <nav>
        <h1><a asp-controller="" asp-action="" id="atext">Управління мікрокліматом</a></h1>
        <ul>
            <li><a asp-controller="BasePage" asp-action="Index">На головну</a></li>
            <li><a asp-controller="BasePage" asp-action="Dovidka">Довідка</a></li>
            <li><a asp-controller="User" asp-action="Create">Реєстрація</a></li>
            <li><a asp-controller="User" asp-action="Login">Вхід</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="ftext">
        </div>
        <main>
            <p class="p">
                Ласкаво просимо на сторінку допомоги Управління Мікрокліматом!
                <br>
                Ми цінуємо ваше розуміння важливості комфортного мікроклімату і завжди готові надати вам необхідну підтримку. Незалежно від того, чи ви новачок у справі створення ідеальних умов, чи вже маєте досвід, ми тут, щоб вам допомогти.
                <br>
                На цій сторінці ви знайдете вичерпну інформацію про різні аспекти управління мікрокліматом. Ми надаємо рекомендації та поради з вибору оптимальних систем опалення, вентиляції, кондиціонування повітря та очищення. Ми розкриємо секрети енергоефективності, допоможемо вам зрозуміти принципи роботи різних пристроїв і розповімо про сучасні технології, що допоможуть вам забезпечити найкращий мікроклімат у вашому приміщенні.
                <br>
                Крім того, ми надаємо детальні інструкції з встановлення, налаштування та обслуговування систем мікроклімату. Ви дізнаєтесь, як правильно регулювати параметри повітря, як підтримувати оптимальну вологість, як уникнути проблем зі здоров'ям, пов'язаними зі злітанням пилу або поганою якістю повітря.
                <br>
                Наша місія - зробити процес управління мікрокліматом легким і зрозумілим для вас. Ми прагнемо забезпечити вам всю необхідну інформацію, щоб ви могли приймати обґрунтовані рішення щодо вашого мікроклімату.
                <br>
                Якщо у вас виникли питання або потрібна додаткова допомога, будь ласка, зверніться до нас за посиланнями нижче.
                
            </p>
        </main>
    </div>
</body>

<footer class="footer">
    <p>&copy; 2023 Управління мікрокліматом</p>
    <p>
        У випадку несправності сайту або виникнення пропозицій щодо покращення роботи сайту - використовуйте ці посилання:
        <a href="https://t.me/maks23438">
            <img id="Telegram" src="~/css/Telegram_X_2019_Logo.svg.png">
        </a>
        <a href="https://instagram.com/maks_milik?igshid=NTc4MTIwNjQ2YQ==">
            <img id="Instagram" src="~/css/1200px-Instagram.svg.png">
        </a>
    </p>
</footer>
