<link rel="stylesheet" href="~/css/Dovidka.css" asp-append-version="true" />
<body class="body">
    <nav>
        <h1><a asp-controller="" asp-action="" id="atext">EcoComfort</a></h1>
        <ul>
            <li><a asp-controller="BasePage" asp-action="Index">На головну</a></li>
            <li><a asp-controller="BasePage" asp-action="Dovidka">Довідка</a></li>
            <li><a asp-controller="User" asp-action="Create">Реєстрація</a></li>
            <li><a asp-controller="User" asp-action="Login">Вхід</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="content">
            <img class="misto1" src="~/css/handshake.png">
            <p class="text-11 montserrat-bold-white-25px">Ми цінуємо ваше розуміння важливості комфортного мікроклімату і завжди готові надати вам необхідну підтримку. Незалежно від того, чи ви новачок у справі створення ідеальних умов, чи вже маєте досвід, ми тут, щоб вам допомогти.  На цій сторінці ви знайдете вичерпну інформацію про різні аспекти управління мікрокліматом.</p>
        </div>
        <div class="content-2">
            <p class="text-22 montserrat-bold-white-25px">Ми надаємо рекомендації та поради з вибору оптимальних систем опалення, вентиляції, кондиціонування повітря та очищення. Також розкриваємо секрети енергоеконімії та допоможемо вам зрозуміти принципи роботи різних пристроїв і розповімо про сучасні технології, що допоможуть вам забезпечити найкращий мікроклімат у вашому приміщенні. Крім того, ми надаємо детальні інструкції з встановлення, налаштування та обслуговування систем мікроклімату</p>
            <div><img class="misto2" src="~/css/manual-book.png"></div>
        </div>
        <div class="content-3">
            <div><img class="misto3" src="~/css/question.png"></div>
            <p class="text-33 montserrat-bold-white-25px">Ви дізнаєтесь, як правильно регулювати параметри повітря, як підтримувати оптимальну вологість, як уникнути проблем зі здоров'ям, пов'язаними зі злітанням пилу або поганою якістю повітря. Наша місія - зробити процес управління мікрокліматом легким і зрозумілим для вас. Ми прагнемо забезпечити вам всю необхідну інформацію, щоб ви могли приймати обґрунтовані рішення щодо вашого мікроклімату.  Якщо у вас виникли питання або потрібна додаткова допомога, будь ласка, зверніться до нас за посиланнями нижче.</p>
        </div>
    </div>
    <div class="container2">
        <h2>Інструкція</h2>
        <p style="text-align:left; padding-left:110px;padding-right:110px;">
            1.Перший етап - реєстрація чи авторизація. Якщо ви в перше користуєтеся EcoComfort Вам доведеться пройти недовготривалу індентифікацію, для цього вам слід заповнити такі поля:
            <menu style="padding-left:110px;">
                <li>ПІБ</li>
                <li>Пошта</li>
                <li>Пароль</li>
                <li>Тип приміщення</li>
            </menu>
        </p>
        <p style="text-align:left; padding-left:110px;">
            Якщо ви вже колистуєтеся нашим сайтом, то вам знадобиться тільки увійти.
        </p>
        <p style="text-align:left; padding-left:110px;">
            2.Перейшовши у кабінет у вас з’являється можливість змінити налаштування  температури, вологості та освітлення у приміщенні.
        </p>
        <p style="text-align:left; padding-left:110px;">
            3.Якщо ви хочете отримати преміум версію  вам доведеться придбати тариф Plus.
        </p>
        </br >
        <h2>Правила для сайту "Керування мікрокліматом"</h2>
        <p style="text-align:left; padding-left:110px;padding-right:110px;">
            Ласкаво просимо на сайт "Керування мікрокліматом"! Нижче наведені правила та рекомендації щодо оптимальної температури, вологості та освітлення у квартирах, будинках та теплицях. Дотримання цих правил допоможе вам створити комфортні умови та досягти найкращого мікроклімату для вашого приміщення.
        </p>
    </div>
    <div class="container3-1">
        <div class="content-11">
            <img class="misto1-1" src="~/css/celsius.png">
            <p class="text-11-1 montserrat-bold-white-25px">
                Температура:
                </br >Квартира: Рекомендується зберігати температуру в межах 20-22 градусів Цельсія в приміщенні.
                </br >Будинок: Оптимальна температура для будинку - 18-20 градусів Цельсія. Відрізняючи різні зони будинку, можна регулювати температуру окремих приміщень залежно від потреб мешканців.
                </br >Теплиця: Важливо забезпечити стабільну температуру в теплиці залежно від рослин, які ви вирощуєте. Зазвичай рекомендується зберігати температуру в межах 21-26 градусів Цельсія вдень і 16-18 градусів Цельсія вночі.
            </p>
        </div>
        <div class="content-2-1">
            <p class="text-22-1 montserrat-bold-white-25px">
                Вологість:
                </br >Квартира: Найкращий рівень вологості для комфортного життя становить близько 40-60%. Використовуйте вологозберігаючі пристрої, якщо рівень вологості надто низький або високий.
                </br >Будинок: Рекомендована вологість для будинку також становить близько 40-60%. Користуйтеся зволожувачами повітря або вентиляторами для регулювання рівня вологості в залежності від потреб мешканців та погодних умов.
                </br >Теплиця: Вологість в теплиці може залежати від типу рослин, які ви вирощуєте. Багато рослин потребують вологості близько 60-70%. Використовуйте зволожувачі або системи поливу, щоб підтримувати оптимальний рівень вологості.
            </p>
            <div><img class="misto2-1" src="~/css/humidity (1).png"></div>
        </div>
        <div class="content-3-1">
            <div><img class="misto3-1" src="~/css/lamp.png"></div>
            <p class="text-33-1 montserrat-bold-white-25px">
                Освітлення:
                </br >Квартира: Забезпечте достатнє природне освітлення в квартирі. Використовуйте штори або жалюзі, щоб контролювати проникнення сонячних променів в приміщення.
                </br >Будинок: Максимально використовуйте природне освітлення для зниження електричної енергії. Встановіть вікна, які допускають більше світла, та забезпечте достатню штучну освітленість в нічний час.
                </br >Теплиця: Рослини потребують достатнього освітлення для фотосинтезу. Використовуйте штучне освітлення, якщо природного світла недостатньо. Дотримуйтесь рекомендацій щодо тривалості та інтенсивності освітлення для кожного типу рослин.
            </p>
        </div>
        <div class="content-4-1">
            <p class="text-44-1 montserrat-bold-white-25px">
                Вологість:
                </br >Квартира: Найкращий рівень вологості для комфортного життя становить близько 40-60%. Використовуйте вологозберігаючі пристрої, якщо рівень вологості надто низький або високий.
                </br >Будинок: Рекомендована вологість для будинку також становить близько 40-60%. Користуйтеся зволожувачами повітря або вентиляторами для регулювання рівня вологості в залежності від потреб мешканців та погодних умов.
                </br >Теплиця: Вологість в теплиці може залежати від типу рослин, які ви вирощуєте. Багато рослин потребують вологості близько 60-70%. Використовуйте зволожувачі або системи поливу, щоб підтримувати оптимальний рівень вологості.
            </p>
            <div><img class="misto4-1" src="~/css/article.png"></div>
        </div>
    </div>
</body>

<footer class="footer">
    <p>&copy; 2023 Управління мікрокліматом</p>
    <p>
        У випадку несправності сайту або виникнення пропозицій щодо покращення роботи сайту - використовуйте ці посилання:
        <a href="https://t.me/maks23438">
            <img id="Telegram" src="~/css/Telegram_X_2019_Logo.svg.png">
        </a>
        <a href="https://instagram.com/maks_milik?igshid=NTc4MTIwNjQ2YQ==">
            <img id="Instagram" src="~/css/1200px-Instagram.svg.png">
        </a>
    </p>
</footer>
