<link rel="stylesheet" href="~/css/Dovidka.css" asp-append-version="true" />
<body class="body">
    <nav>
        <h1><a asp-controller="" asp-action="" id="atext">Управління мікрокліматом</a></h1>
        <ul>
            <li><a asp-controller="BasePage" asp-action="Index">На головну</a></li>
            <li><a asp-controller="BasePage" asp-action="Dovidka">Довідка</a></li>
            <li><a asp-controller="User" asp-action="Create">Реєстрація</a></li>
            <li><a asp-controller="User" asp-action="Login">Вхід</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="content">
            <img class="misto1" src="~/css/handshake.png">
            <p class="text-11 montserrat-bold-white-25px">Ми цінуємо ваше розуміння важливості комфортного мікроклімату і завжди готові надати вам необхідну підтримку. Незалежно від того, чи ви новачок у справі створення ідеальних умов, чи вже маєте досвід, ми тут, щоб вам допомогти.  На цій сторінці ви знайдете вичерпну інформацію про різні аспекти управління мікрокліматом.</p>
        </div>
        <div class="content-2">
            <p class="text-22 montserrat-bold-white-25px">Ми надаємо рекомендації та поради з вибору оптимальних систем опалення, вентиляції, кондиціонування повітря та очищення. Також розкриваємо секрети енергоеконімії та допоможемо вам зрозуміти принципи роботи різних пристроїв і розповімо про сучасні технології, що допоможуть вам забезпечити найкращий мікроклімат у вашому приміщенні. Крім того, ми надаємо детальні інструкції з встановлення, налаштування та обслуговування систем мікроклімату</p>
            <div><img class="misto2" src="~/css/manual-book.png"></div>
        </div>
        <div class="content-3">
            <div><img class="misto3" src="~/css/question.png"></div>
            <p class="text-33 montserrat-bold-white-25px">Ви дізнаєтесь, як правильно регулювати параметри повітря, як підтримувати оптимальну вологість, як уникнути проблем зі здоров'ям, пов'язаними зі злітанням пилу або поганою якістю повітря. Наша місія - зробити процес управління мікрокліматом легким і зрозумілим для вас. Ми прагнемо забезпечити вам всю необхідну інформацію, щоб ви могли приймати обґрунтовані рішення щодо вашого мікроклімату.  Якщо у вас виникли питання або потрібна додаткова допомога, будь ласка, зверніться до нас за посиланнями нижче.</p>
        </div>
    </div>
    <div class="container2">
        <h2>Інструкція</h2>
        <p style="text-align:left; padding-left:110px;padding-right:110px;">
            1.Перший етап - реєстрація чи авторизація. Якщо ви в перше користуєтеся EcoComfort Вам доведеться пройти недовготривалу індентифікацію, для цього вам слід заповнити такі поля:
            <menu style="padding-left:110px;">
                <li>ПІБ</li>
                <li>Пошта</li>
                <li>Пароль</li>
                <li>Тип приміщення</li>
            </menu>
        </p>
        <p style="text-align:left; padding-left:110px;">
            Якщо ви вже колистуєтеся нашим сайтом, то вам знадобиться тільки увійти.
        </p>
        <p style="text-align:left; padding-left:110px;">
            2.Перейшовши у кабінет у вас з’являється можливість змінити налаштування  температури, вологості та освітлення у приміщенні.
        </p>
        <p style="text-align:left; padding-left:110px;">
            3.Якщо ви хочете отримати преміум версію  вам доведеться придбати тариф Plus.
        </p>
    </div>
</body>

<footer class="footer">
    <p>&copy; 2023 Управління мікрокліматом</p>
    <p>
        У випадку несправності сайту або виникнення пропозицій щодо покращення роботи сайту - використовуйте ці посилання:
        <a href="https://t.me/maks23438">
            <img id="Telegram" src="~/css/Telegram_X_2019_Logo.svg.png">
        </a>
        <a href="https://instagram.com/maks_milik?igshid=NTc4MTIwNjQ2YQ==">
            <img id="Instagram" src="~/css/1200px-Instagram.svg.png">
        </a>
    </p>
</footer>
